<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.4.1/purify.js"></script>
</head>
<body>
    <div class="container">
        <div class="detail-box">
            <div class="desc">
                <h1 ><%= title %></h1>
                <h3><%= description %></h3>
            
            </div>
            <div class="time">
                <h4>Created at: <%= assignedDate %></h4>
                <h4>Day left: <%= daysLeft %></h4>
            </div>
            <div class="nav">
                
                <button value="submit" type="Submit" class="detailButton" onclick="nav('prev')">Prev note</button>
                
                <button value="submit" type="Submit" class="detailButton" onclick="nav('next')">Next note</button>
                
                <button value="submit" type="Submit" class="detailButton" onclick="nav('home')">Home</button>
            </div>
        </div>
    </div>


</body>
<script>
    let url = /url=.+/.exec(location)

    function nav(option) {
        const id = location.search.slice(-1,)
        
        switch(option) {
            case 'prev':
                location.href = `/api/note?id=${Number(id)-1}`
                break
                case 'next':
                location.href =`/api/note?id=${Number(id)+1}` 
                break
                case 'home':
                    if(url) {
                        location.href = url[0].slice(4,)
                    } else {
                        location.href = '/'
                    }
            default:
                console.log("nah")
                break
        }
        
    }   
</script>
</html>